<mat-toolbar>
  <a href="https://rs.school/" style="width: 120px" target="_blank">
    <img src="../../../../assets/svg/rs_school_js.svg" alt="RS School">
  </a>
  <div style="display: flex; flex-direction: row; align-items: center">
    <img
      style="max-width: 50px; margin-top: 5px"
      src="../../../../assets/svg/github.svg"
      alt="">
    <a mat-button href="https://github.com/anesthesia92" target="_blank">
      Anesthesia92
    </a>
    <a mat-button href="https://github.com/Satlykov" target="_blank"
      >Satlykov</a
    >
    <a mat-button href="https://github.com/slikex" target="_blank">SlikeX</a>
  </div>
  <p style="cursor: default">© 2022</p>
</mat-toolbar>
