@import '../../../app.component';

mat-toolbar {
  @include lightTheme;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  a {
    font-family: Rubic, sans-serif;
    color: #49494b;
  }
}


@media only screen and (max-width: 650px) {
  mat-toolbar {
    justify-content: center;
    height: auto;
    padding: 15px 0;
  }
}
