@import '../../app.component.scss';

.book-container {
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 128px);
}

.words-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(100vh - 192px);
  box-sizing: border-box;
  padding: 16px;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include blueTheme;
  color: #fff;
  &.cant-play  {
    background-color: #008100;
  }
}

.selected-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.selected-title {
  cursor: default;
}

.game-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 300px;
}

.btn-game {
  @include button;
}

.btn-game:hover {
  @include button-hover;
}

mat-icon {
  margin-right: 10px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  button {
    transition: all .5s;
    &:hover {
      color: #49494b;
    }
    &:active {
      transform: scale(.5);
    }
  }
}

.done-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  color: #ffd900ee;
  mat-icon {
    transform: scale(2);
  }
}
