mat-card {
  width: 320px;
  min-height: 470px;
  padding: 0;
  background: #438aa8;
  margin: 10px 0;
  cursor: default;

  .img-container {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .text-container {
    margin: -130px 0 0 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .word {
      margin: 0;
      text-align: right;
      text-shadow: 1px 2px 3px #49494b;
      background-color: #ffffff8e;
      border-radius: 4px;
      padding: 3px 8px;
    }

    .btn-pronounce {
      margin: 0;
    }

    .translation {
      margin: 5px 0;
      font-size: 1.2rem;
      font-weight: 500;
      color: #fff;
      text-shadow: none;
      text-shadow: 1px 2px 3px #49494b;
    }

    .en-text-container {
      width: 100%;
    }

    p {
      margin: 5px 0;
      width: 100%;
      text-align: left;
    }

    .line {
      height: 2px;
      width: 100%;
      background-color: #49494b;
      margin: 5px 0;
    }

  }

  .en-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

.btn-all {
  margin-bottom: 10px;
}

.btn-icon {
  top: 10px;
  right: 15px;
  position: absolute;
}
