<mat-drawer-container>
  <mat-drawer #sidenav mode="over">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="this.sidenav.close()"
      >
        <mat-icon>home</mat-icon>
        Главная
      </a>
      <a
        mat-list-item
        routerLink="/book"
        routerLinkActive="active"
        (click)="this.sidenav.close()"
      >
        <mat-icon>auto_stories</mat-icon>
        Учебник
      </a>
      <a
        mat-list-item
        routerLink="/word-list"
        routerLinkActive="active"
        (click)="this.sidenav.close()"
        [disabled]="!authenticated"
      >
        <mat-icon>translate</mat-icon>
        Словарь
      </a>
      <a
        mat-list-item
        routerLink="/sprint-game"
        routerLinkActive="active"
        (click)="this.sidenav.close()"
      >
        <mat-icon>videogame_asset</mat-icon>
        Спринт
      </a>
      <a
        mat-list-item
        routerLink="/audio-call-game"
        routerLinkActive="active"
        (click)="this.sidenav.close()"
      >
        <mat-icon>videogame_asset</mat-icon>
        Аудиовызов
      </a>
      <a
        mat-list-item
        routerLink="/statistics"
        routerLinkActive="active"
        [disabled]="!authenticated"
        (click)="this.sidenav.close()"
      >
        <mat-icon>equalizer</mat-icon>
        Статистика
      </a>
      <a
        mat-list-item
        routerLink="/authorization"
        routerLinkActive="active"
        *ngIf="!authenticated"
        (click)="this.sidenav.close()"
      >
        <mat-icon>login</mat-icon>
        Войти
      </a>
      <a
        mat-list-item
        routerLink="/exit"
        routerLinkActive="active"
        *ngIf="authenticated"
        (click)="this.sidenav.close()"
      >
        <mat-icon>logout</mat-icon>
        Выход
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
