<mat-drawer-container>
  <mat-drawer #sidenav mode="over">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>home</mat-icon>
        Главная страница
      </a>
      <a mat-list-item routerLink="/book" routerLinkActive="active">
        <mat-icon>auto_stories</mat-icon>
        Книга
      </a>
      <a mat-list-item routerLink="/sprint-game" routerLinkActive="active" >
        <mat-icon>videogame_asset</mat-icon>
        Спринт игра
      </a>
      <a mat-list-item routerLink="/audio-call-game" routerLinkActive="active">
        <mat-icon>videogame_asset</mat-icon>
        Звуковая игра
      </a>
      <a mat-list-item routerLink="/statistics" routerLinkActive="active" [disabled]="!authenticated">
        <mat-icon>equalizer</mat-icon>
        Статистика
      </a>
      <a mat-list-item routerLink="/team" routerLinkActive="active">
        <mat-icon>groups</mat-icon>
        Разработчики
      </a>
      <a
        mat-list-item
        routerLink="/authorization"
        routerLinkActive="active"
        *ngIf="!authenticated"
      >
        <mat-icon>login</mat-icon>
        Войти
      </a>
      <a
        mat-list-item
        routerLink="/exit"
        routerLinkActive="active"
        *ngIf="authenticated"
      >
        <mat-icon>logout</mat-icon>
        Выход
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
