@import '../../app.component.scss';

.words-container {
  display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: calc(100vh - 128px);
   @include lightTheme;

   &.hard {
     background:  radial-gradient(circle, #f4fb3f 0%, #fc4646 100%);
   }
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include blueTheme;
  color: #fff;
}

.words-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(100vh - 192px);
  box-sizing: border-box;
  padding: 16px;
}

.selected-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}
