.exit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 128px);
  background-color: #E8F3FF;
  color: #575757;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  max-width: 400px;
}

button {
  background-color: #428AA8;
  border-color: #428AA8;
  color: #FFFFFF;
  transition: all .5s;
  &:hover {
    background-color: #FFFFFF;
    border-color: #428AA8;
    color: #575757;
  }
}

.btn-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
