<mat-toolbar>
  <button mat-icon-button (click)="clickMenu()" >
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button style="font-size: 1.3rem" routerLink="/">RS Lang</button>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/authorization">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Neucha&family=Rubik:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Neucha&family=Rubik:wght@300;700&display=swap" rel="stylesheet">
