<div class="main-container">
  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div>
  <div class="main-container__home">
    <div class="welcome-section">
        <h1 class="welcome-section__title">Школа английского языка RSLang</h1>
      <p class="welcome-section__text">Быстрые результаты - с нами это реально!</p>
      <a href="#about-container" routerLinkActive="active" class="welcome-section__link">Узнать подробности</a>
    </div>
    <div class="fork-section">
      <ul class="fork-section__links">
        <li routerLink="/book">Учебник</li>
        <li routerLink="/sprint-game">Спринт</li>
        <li routerLink="/audio-call-game">Аудиовызов</li>
        <li routerLink="/word-list">Cловарь</li>
      </ul>
    </div>
  </div>
  <div class="main-container__about" id="about-container">
    <div class="about-title">
    <h1 routerLink="/authorization" class="about-title__main">Зарегестрируйтесь, чтоб использовать все возможности</h1>
    </div>
    <div class="container">
      <div class="A grid">
        <h2 class="grid-title">Учебник</h2>
<p class="grid-text">В учебнике собраны самые используемые <br>в повседневной жизни слова. Включает определение слов и пример <br> использования на обоих языках.</p>
      </div>
      <div class="B grid">
        <h2 class="grid-title">Словарь</h2>
        <p class="grid-text">Все изученные слова попадают в твой личный словарь. Ты можешь отметить сложные для тебя слова, чтобы обращать <br>на них внимание.</p>
      </div>
      <div class="C grid">
        <h2 class="grid-title">Игры</h2>
        <p class="grid-text">Игра Аудиовызов помогает разить навыки аудирования и перевода. Выбирай 1 из 4-х слов, которые услышишь. В игре Спринт нужно выбрать правильный ли перевод слова показан.</p>
      </div>
      <div class="D grid">
        <h2 class="grid-title">Статистика</h2>
        <p class="grid-text">Весь ход обучения можно просмотреть в статистике, где представлены данные за текущий день и за весь период обучения.</p>
      </div>
    </div>
  </div>
  <div class="main-container__video" id="video-container">
  <div class="video-blackout">
    <div class="video-frame"></div>
  </div>
  </div>
</div>

