<div class="container">
  <div *ngIf="!isOpened; else questions" class="category__container">
    <h2 class="category__title">Аудиовызов</h2>
    <h3 class="category__subtitle">Выберите сложность:</h3>
    <div class="category__button-container">
      <button
        class="category__button"
        mat-raised-button
        (click)="showQuestions(0)"
      >
        1
      </button>
      <button
        class="category__button"
        mat-raised-button
        (click)="showQuestions(1)"
      >
        2
      </button>
      <button
        class="category__button"
        mat-raised-button
        (click)="showQuestions(2)"
      >
        3
      </button>
      <button
        class="category__button"
        mat-raised-button
        (click)="showQuestions(3)"
      >
        4
      </button>
      <button
        class="category__button"
        mat-raised-button
        (click)="showQuestions(4)"
      >
        5
      </button>
      <button
        class="category__button"
        mat-raised-button
        (click)="showQuestions(5)"
      >
        6
      </button>
    </div>
  </div>
  <ng-template #questions>
    <div class="questions__container">
      <div
        class="questions__audio"
        (click)="generateAudio(currentQuestion.audio)"
      ></div>
      <div class="questions__answer-container">
        <button
          [disabled]="isAnswered"
          (click)="checkAnswer(currentQuestion.answersOptions![0])"
          mat-raised-button
          class="questions__answer"
        >
          {{ currentQuestion.answersOptions![0] }}
        </button>
        <button
          [disabled]="isAnswered"
          (click)="checkAnswer(currentQuestion.answersOptions![1])"
          mat-raised-button
          class="questions__answer"
        >
          {{ currentQuestion.answersOptions![1] }}
        </button>
        <button
          [disabled]="isAnswered"
          (click)="checkAnswer(currentQuestion.answersOptions![2])"
          mat-raised-button
          class="questions__answer"
        >
          {{ currentQuestion.answersOptions![2] }}
        </button>
        <button
          [disabled]="isAnswered"
          (click)="checkAnswer(currentQuestion.answersOptions![3])"
          mat-raised-button
          class="questions__answer"
        >
          {{ currentQuestion.answersOptions![3] }}
        </button>
        <button
          [disabled]="isAnswered"
          (click)="checkAnswer(currentQuestion.answersOptions![4])"
          mat-raised-button
          class="questions__answer"
        >
          {{ currentQuestion.answersOptions![4] }}
        </button>
      </div>
      <div class="questions__controll">
        <button
        mat-raised-button
        (click)="showQuestions(7)"
        class="questions__back"
      >
        К категориям
      </button>
      <button
        [disabled]="!isAnswered"
        mat-raised-button
        (click)="nextQuestion()"
        class="questions__forward"
      >
        След. вопрос
      </button>
      </div>
    </div>
  </ng-template>
</div>
