<div class="authoriztion-container">
  <mat-card>
    <mat-spinner *ngIf="spinner" color="warn"></mat-spinner>
    <mat-tab-group *ngIf="!spinner">
      <mat-tab label="Вход">
        <h3>Вход в аккаунт</h3>
        <form>
          <mat-card-content>
            <mat-form-field color="basic">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="user@mail.com"
                (keyup)="changeEmailLogin($event)"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Пароль</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                (keyup)="changePasswordLogin($event)"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button (click)="login()" [disabled]="!canLogin">
            Войти
          </button>
          <p *ngIf="!canLogin" style="margin-left: 5px">
            Проверь праильность данных. Длина пароля не менее 8 символов.
          </p>
          <p *ngIf="canLogin" style="margin-left: 5px">Попробуйте войти.</p>
        </form>
      </mat-tab>
      <mat-tab label="Регистрация">
        <h3>Регистрация</h3>
        <form>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Имя</mat-label>
              <input
                matInput
                (keyup)="changeNameRegist($event)"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="user@mail.com"
                (keyup)="changeEmailRegist($event)"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Пароль</mat-label>
              <input matInput (keyup)="changePasswordRegistFirst($event)" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Повторите пароль</mat-label>
              <input matInput (keyup)="changePasswordRegistSecond($event)" />
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button (click)="regist()" [disabled]="!canRegist">
            Регистрация
          </button>
          <p *ngIf="!canRegist" style="margin-left: 5px">
            Проверь праильность данных. Длина пароля не менее 8 символов.
            Пароли в первой и второй строке должны совпадать.
          </p>
          <p *ngIf="canRegist" style="margin-left: 5px">
            Можно регистрироваться!
          </p>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
