<div class="sprint-game-container">
  <mat-progress-spinner
    class="example-margin"
    color="warn"
    [value]="valueSpinner"
    *ngIf="startSecondStatus"
  >
  </mat-progress-spinner>
  <span class="start-second" *ngIf="startSecondStatus">{{ startSecond }}</span>
  <button
    mat-stroked-button
    class="start-game"
    (click)="startSprint()"
    *ngIf="!sprintStatus && !startSecondStatus && !endSprint"
  >
    Начать "Спринт"
  </button>
  <h2 *ngIf="!sprintStatus && !startSecondStatus && !endSprint">Выбери свой уровень английского:</h2>
  <mat-form-field
    appearance="fill"
    color="warn"
    *ngIf="!sprintStatus && !startSecondStatus && !endSprint"
  >
    <mat-label>Выберите уровень:</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let level of levels" [value]="level.value">{{
        level.viewValue
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card *ngIf="sprintStatus">
    <span class="second-title">
      <span class="second">{{ gameSecond }}</span> сек
    </span>
    <mat-progress-bar
      mode="determinate"
      [value]="100 - (gameSecond / 60) * 100"
      color="warn"
    ></mat-progress-bar>
    <span class="points-sprint">{{ score }}</span>
    <div class="status-mistake">
      <mat-icon style="color: green" *ngIf="streakAnswers >= 1 + (star - 1) * 3"
        >check_circle</mat-icon
      >
      <mat-icon style="color: green" *ngIf="streakAnswers >= 2 + (star - 1) * 3"
        >check_circle</mat-icon
      >
      <mat-icon style="color: green" *ngIf="streakAnswers >= 3 + (star - 1) * 3"
        >check_circle</mat-icon
      >
      <mat-icon *ngIf="streakAnswers < 1 + (star - 1) * 3"
        >radio_button_unchecked</mat-icon
      >
      <mat-icon *ngIf="streakAnswers < 2 + (star - 1) * 3"
        >radio_button_unchecked</mat-icon
      >
      <mat-icon *ngIf="streakAnswers < 3 + (star - 1) * 3"
        >radio_button_unchecked</mat-icon
      >
    </div>
    <h4 class="title-card">
      +<span>{{ pointsForAnswer * star }}</span> очков за слово!
    </h4>
    <div>
      <mat-icon class="star" style="color: gold">star_rate</mat-icon>
      <mat-icon class="star" style="color: gold" *ngIf="star >= 2"
        >star_rate</mat-icon
      >
      <mat-icon class="star" style="color: gold" *ngIf="star >= 3"
        >star_rate</mat-icon
      >
      <mat-icon class="star" style="color: gold" *ngIf="star >= 4"
        >star_rate</mat-icon
      >
      <mat-icon class="star" style="color: gold" *ngIf="star >= 5"
        >star_rate</mat-icon
      >
      <mat-icon class="star" *ngIf="star < 2">star_border</mat-icon>
      <mat-icon class="star" *ngIf="star < 3">star_border</mat-icon>
      <mat-icon class="star" *ngIf="star < 4">star_border</mat-icon>
      <mat-icon class="star" *ngIf="star < 5">star_border</mat-icon>
    </div>
    <h2 class="en-word">{{ enWord }}</h2>
    <mat-icon class="sound" (click)="sound()">record_voice_over</mat-icon>
    <h3 class="ru-word">{{ ruWord }}</h3>
    <div class="line"></div>
    <div class="btn-container">
      <button
        mat-stroked-button
        class="false-word"
        (click)="cheackAnswer(false)"
      >
        <mat-icon>arrow_back</mat-icon>
        Неверно
      </button>
      <mat-slide-toggle
        color="warn"
        [(ngModel)]="soundEfect"
        style="color: black;"
      >
        <mat-icon *ngIf="soundEfect" style="margin-top: 5px;">volume_up</mat-icon>
        <mat-icon *ngIf="!soundEfect" style="margin-top: 5px;">volume_off</mat-icon>
      </mat-slide-toggle>
      <button mat-stroked-button class="true-word" (click)="cheackAnswer(true)">
        Верно
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-card *ngIf="endSprint">
    <h2>Ваш результат:</h2>
    <span class="end-score">{{ score }}</span>
    <h2>Процент правильных:</h2>
    <mat-progress-spinner [value]="percent" style="position: relative">
    </mat-progress-spinner>
    <h3 style="position: relative; bottom: 5rem">{{ percent }}%</h3>
    <button mat-stroked-button class="close" (click)="closeSprint()">
      Закрыть
    </button>
  </mat-card>
</div>
