@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Rubik:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Rubik:ital,wght@0,300;0,700;1,300&display=swap");
.start-game {
  font-size: 3rem;
  padding: 1.5rem 2rem;
  color: #fff;
  border-radius: 40px;
  border: 1px solid #fa8d62;
  color: #e9f3ff;
  background-color: #fa8d62;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubic, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 600ms;
}
.start-game:hover {
  border-radius: 40px;
  border: 1px solid #fa8d62;
  color: #e9f3ff;
  background-color: #fa8d62;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubic, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 600ms;
  transition-duration: 600ms;
  background: linear-gradient(to right, #fa8d62, #438aa8);
  color: #e9f3ff;
  filter: drop-shadow(0 0 0.2rem #438aa8);
}

.sprint-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 128px);
  background-color: #e9f3ff;
}
.sprint-game-container p {
  font-family: Rubic, sans-serif;
  font-weight: 300;
  color: #49494b;
  padding: 0;
}

mat-card {
  min-width: 19rem;
  width: 40%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.btn-container .true-word {
  background-color: green;
  font-size: 1.7rem;
  padding: 0.2rem 0.5rem;
}
.btn-container .false-word {
  background-color: red;
  font-size: 1.7rem;
  padding: 0.2rem 0.5rem;
}

.line {
  min-height: 2px;
  width: 100%;
  background-color: #49494b;
  margin-bottom: 1rem;
}

.points-sprint {
  color: green;
  font-size: 2rem;
}

.second {
  font-size: 3rem;
}

.second-title {
  font-size: 2rem;
}

mat-progress-bar {
  margin: 1rem;
}

.start-second {
  font-size: 4rem;
  margin-top: -5.5rem;
  margin-bottom: 2rem;
}

.star {
  transform: scale(2);
  margin: 0 1rem;
}

.end-score {
  font-size: 4.5rem;
  color: green;
}

.close {
  border-radius: 40px;
  border: 1px solid #fa8d62;
  color: #e9f3ff;
  background-color: #fa8d62;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubic, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 600ms;
}

.close:hover {
  border-radius: 40px;
  border: 1px solid #fa8d62;
  color: #e9f3ff;
  background-color: #fa8d62;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubic, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 600ms;
  transition-duration: 600ms;
  background: linear-gradient(to right, #fa8d62, #438aa8);
  color: #e9f3ff;
  filter: drop-shadow(0 0 0.2rem #438aa8);
}

.sound {
  transform: scale(2);
  cursor: pointer;
}

/*# sourceMappingURL=sprint-game-page.component.css.map */
