@import '../../app.component.scss';

.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 192px);
  @include lightTheme;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @include blueTheme;
  color: #fff;
}

.selected-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 340px;
}

.title-container {
  display: flex;
  align-items: center;
  min-width: 340px;

  h2 {
    font-size: 1.5rem;
  }
}

mat-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 340px;
  width: 70%;
  min-height: 350px;
}

table {
  width: 100%;

  th, td {
    text-align: center;
    font-size: 1.5em;
  }
}

ngx-charts-bar-horizontal {
  width: 100%;
  min-height: 500px;
}

h2 {
  cursor: default;
}
