<mat-card>
  <div
    class="img-container"
    style="
      background-image: linear-gradient(to top, #438aa8 0%, transparent 70%),
        url(https://rslangsteam.herokuapp.com/files/01_0010.jpg);
    "
  ></div>
  <div class="text-container">
    <h2 class="word"></h2>
    <button mat-icon-button class="btn-pronounce">
      <mat-icon>record_voice_over</mat-icon>
    </button>
    <span class="translation">утка [dʌk]</span>
    <p>A duck is a small water bird.</p>
    <p style="font-style: italic;">People feed ducks at the lake.</p>
    <div class="line"></div>
    <p>Утка - маленькая водяная птица.</p>
    <p style="font-style: italic;">Люди кормят уток у озера</p>
  </div>
</mat-card>
